@page "/counter"

<PageTitle>Counter</PageTitle>

@implements IAsyncDisposable
@inject IJSRuntime ijsRuntime

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="ShowMessage">Mostrar Mensaje</button>

@code {
    private int currentCount = 0;

    private IJSObjectReference module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await ijsRuntime.InvokeAsync<IJSObjectReference>("import", "./Pages/Counter.razor.js");         
        }
    }

    private async void ShowMessage()
    {

        if (module != null)
        {

            await module.InvokeVoidAsync("Alert");

        }

    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module != null) await module.DisposeAsync();
    }

    private void IncrementCount()
    {
        currentCount++;
    }

    
}
